.actions__calendar {
	.air-datepicker {
		border: none;
	}

	.air-datepicker-nav {
		border: none;
		background: #f4f4f4;
	}

	.air-datepicker-nav--title {
		font-weight: 700;
		font-size: 16px;
		color: #3461d6;

		i {
			color: #3461d6;

		}
	}

	.air-datepicker-nav--action path {
		stroke: #3461d6;
	}

	.air-datepicker-body--day-name {
		font-weight: 500;
		font-size: 15px;
		text-align: center;
		color: #0050ac;
		text-transform: none;
	}

	.air-datepicker-cell {
		font-weight: 500;
		font-size: 15px;
		text-align: center;
		color: #535353;

		&.-selected- {
			background: #2876ce;
		}

		&.-selected-.-current- {
			background: #2876ce;
		}
	}
}