//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	width: 139px;
	height: 51px;
	display: flex;
	background: #f2f2f2;
	border-radius: 11px;

	// .quantity__button
	&__button {
		flex: 0 0 45px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #000;
			width: 17.5px;
			height: 3px;
		}

		@media (any-hover: hover) {
			&:hover {

				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}

			&::before,
			&::after {
				margin: 0px 0px 0px -20px;
			}
		}

		// .quantity__button_minus
		&_minus {

			&::before,
			&::after {
				margin: 0px 0px 0px 2px;
			}
		}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			outline: none;
			background: #f2f2f2;
			height: 100%;
			width: 100%;
			text-align: center;
			font-weight: 500;
			font-size: 20px;
			line-height: 100%;
			color: #000;

			&::-webkit-inner-spin-button {
				display: none;
			}
		}
	}
}