// Заголовки, общие БЄМ блоки и проче...
.title-h2Hel {
   color: #141414;
   font-family: "heliosextblack";
   font-size: 48px;
   line-height: 48px;

   @media (max-width: 1440px) {
      font-size: 36px;
      line-height: 36px;
   }

   @media (max-width:$md) {
      font-size: 24px;
      line-height: 24px;
      word-break: break-word;
   }
}

.menu-right {
   position: fixed;
   top: 37px;
   right: 73px;
   display: grid;
   justify-items: center;
   gap: 40px;

   @media (max-width:em(1499.98)) {
      top: 38px;
      right: 62px;
   }

   @media (max-width:$md) {
      position: static;
      display: flex;
   }

   // .menu-right__btn

   &__btn {
      position: relative;

      svg {
         transition: all 0.3s ease 0s;
      }

      @media (any-hover: hover) {
         &:hover {
            svg {
               transform: scale(1.3);
            }
         }
      }
   }

   // .menu-right__count

   &__count {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: #fff;
      background-color: #409aff;
      padding: 4px 10px;
      border-radius: 30px;
      position: absolute;
      top: -18px;
      left: 40px;
      width: 42px;
      height: 28px;
      text-align: center;

      @media (max-width:$md) {
         font-size: 10px;
         line-height: 14px;
         background-color: #004ea6;
         width: 39px;
         height: 22px;
         left: 7px;
         top: -14px;
      }
   }
}

.header._header-scroll~.page-headline {
   .menu-left__logo {
      pointer-events: all;

      img {
         position: relative;
         transform: translateY(0) rotate(0);

      }
   }
}

.menu-left {
   position: fixed;
   top: 0;
   left: 0;
   width: 128px;
   height: 100vh;
   background-color: #004ea6;

   @media (max-width:$xl) {
      width: 119px;
   }

   @media (max-width:$md) {
      position: static;
      width: calc(100% + 16px);
      margin: 0 -8px;
      height: 104px;
      margin-bottom: rem(32);
   }

   // .menu-left__logo

   &__logo {
      height: 121px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      @media (max-width:$xxl) {
         height: 113px;
      }

      @media (max-width:$md) {
         display: none;
      }

      img {
         position: absolute;
         transform: translateY(-200%) rotate(-180deg);
         transition: all 0.3s ease 0s;
      }
   }

   // .menu-left__links

   &__links {
      overflow: auto;
      height: calc(100% - 121px);
      scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
      @extend %hidescroll;

      @media (max-width:$md) {
         height: 100%;
         display: flex;
      }
   }

   // .menu-left__link

   &__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #2876ce;
      padding: rem(23) 0;
      transition: background 0.3s ease 0s;
      gap: 8px;
      width: 100%;

      @media (max-width:$xxl) {
         padding: rem(9) 0;
      }

      @media (max-width:$md) {
         flex: 0 0 115px;

         &:not(:last-child) {
            border-right: 2px solid #2876ce;
         }
      }

      &:hover {
         background: #2876ce;
      }
   }

   // .menu-left__link-icon

   &__link-icon {}
}

.page-title {
   font-family: var(--second-family);
   font-weight: 900;
   font-size: 48px;
   line-height: 121%;
   color: var(--chernyy);
   margin-bottom: rem(40);

   @media (max-width:$xxl) {
      font-size: 36px;
      line-height: 100%;
   }

   @media (max-width:$md) {
      font-size: 20px;
      line-height: 180%;
      margin-bottom: rem(35);
   }
}

.big-title {
   font-size: 72px;
   line-height: 72px;
   font-family: "heliosextblack";
   color: #fff;

   @media (max-width: 1440px) {
      font-size: 48px;
      line-height: 58px;
   }

   @media (max-width: 940px) {
      font-size: 36px;
      line-height: 36px;
   }

   @media (max-width:$xs) {
      font-size: 24px;
      line-height: 24px;
   }
}

.thanks-page {
   margin-bottom: rem(50);

   // .thanks-page__container

   &__container {}

   // .thanks-page__block

   &__block {
      position: relative;
      z-index: 2;
      overflow: hidden;
      background: #000;
      color: #fff;
      padding: rem(60);

      @media (max-width: 400px) {
         padding: rem(30);
      }
   }

   // .thanks-page__title

   &__title {
      margin-bottom: rem(40);
   }

   // .thanks-page__order

   &__order {
      margin-bottom: rem(20);
      font-size: 24px;
      line-height: 32px;
   }

   // .thanks-page__order-num

   &__order-num {
      color: #409aff;
   }

   &__row {
      display: flex;

      @media (max-width:$xxl) {
         flex-direction: column;
         align-items: flex-start;
      }

      @media (max-width: 400px) {
         align-items: stretch;
      }
   }

   // .thanks-page__text

   &__text {
      font-size: 18px;
      line-height: 24px;
      margin-right: rem(40);
      max-width: 356px;

      @media (max-width:$xxl) {
         margin: 0px 0px 40px 0px;
      }
   }

   // .thanks-page__link

   &__link {
      color: #409aff;
      text-decoration: underline;

      &:hover {
         text-decoration: none;
      }
   }

   // .thanks-page__btn

   &__btn {
      padding: rem(15) rem(32);
      border-radius: 6px;

      @media (max-width: 400px) {
         padding: 15px 0px;
         text-align: center;
      }
   }

   // .thanks-page__logo

   &__logo {
      position: absolute;
      width: 889px;
      height: 710px;
      bottom: -110%;
      right: 0;
      z-index: -1;

      @media (max-width:$xxl) {
         bottom: -75%;
         width: 60%;

         img {
            object-fit: contain;
         }
      }

      @media (max-width:$lg) {
         display: none;
      }
   }
}

.not-found {
   margin-bottom: rem(100);
   position: relative;

   // .not-found__container

   &__container {
      height: 448px;

      @media (max-width:em(1279.98)) {
         height: 388px;
      }

      @media (max-width:$lg) {
         height: 176px;
      }

      @media (max-width:$md) {
         height: auto;
      }
   }

   // .not-found__content

   &__content {
      overflow: hidden;
      position: relative;
      background: #141414;
      padding: rem(60);
      display: grid;
      height: 100%;

      @media (max-width:$lg) {
         padding: 30px 20px;
      }
   }

   // .not-found__image-ibg

   &__image-ibg {
      height: 710px;
      width: 890px;
      position: absolute;
      top: -54px;
      left: 75px;
      z-index: 1;
      @include adaptiveValue("left", 75, -150, 0, 1920, 1280);

      @media (max-width:em(1279.98)) {
         width: 583px;
         height: 583px;
         top: -37px;
         left: -19px;
      }

      @media (max-width:$lg) {
         width: 340px;
         height: 374px;
      }

      @media (max-width:$md) {
         display: none;
      }
   }

   // .not-found__text

   &__text {
      color: #fff;
      max-width: 653px;
      justify-self: end;
      position: relative;
      z-index: 2;

      @media (max-width:em(1279.98)) {
         max-width: 417px;
      }

      @media (max-width:$lg) {
         max-width: 209px;
      }

      @media (max-width:$md) {
         max-width: 100%;
         justify-self: start;
      }
   }

   // .not-found__big-title

   &__big-title {
      font-size: 144px;
      line-height: 144px;
      font-family: heliosextblack;

      @media (max-width:em(1279.98)) {
         font-size: 72px;
         line-height: 72px;
      }

      @media (max-width:$lg) {
         font-size: 48px;
         line-height: 58px;
      }
   }

   // .not-found__title

   &__title {
      font-size: 72px;
      line-height: 72px;
      font-family: heliosextblack;

      @media (max-width:em(1279.98)) {
         font-size: 48px;
         line-height: 58px;
      }

      @media (max-width:$lg) {
         font-size: 24px;
         line-height: 24px;
      }
   }
}

//========================================================================================================================================================

.label {
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   padding: 5px 12px;
   width: 51px;
   height: 24px;
   color: #fff;

   @media (max-width: $md) {
      font-size: 10px;
      padding: 2px 8px;
      height: 18px;
   }
}

.label-hit {
   background-color: #409aff;
   width: 51px;

   @media (max-width: $md) {
      width: 35px;
   }
}

.label-stock {
   background-color: #004ea6;
   width: 72px;

   @media (max-width: $md) {
      width: 51px;
   }
}

.label-new {
   background-color: #eb5757;
   width: 90px;
   margin: 0px 0px 0px 0px;

   @media (max-width: $md) {
      width: 63px;
   }
}

.available {
   color: #828282;
   font-size: 14px;
   line-height: 20px;
   padding: 0px 0px 0px 17px;
   background: url(../img/icons/available_icon.svg) left no-repeat;

   @media (max-width: $md) {
      font-size: 12px;
      line-height: 12px;
   }
}

//========================================================================================================================================================

.btn-15 {
   background: #004ea6;
   border: none;
   z-index: 1;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   outline: none;
   color: #fff;

   &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #141414;
      border-radius: 6px;
      transition: all 0.3s ease;
   }

   &:hover {
      color: #fff;

      &::after {
         width: 100%;
      }
   }

   &:active {
      top: 2px;
   }

   &_wht {
      background: transparent;
      border: 1px solid #fff;
      overflow: hidden;

      &:hover {
         color: #141414;
         border: 1px solid transparent;
      }

      &::after {
         background-color: #fff;
      }
   }

   &_blck {
      background: transparent;
      border: 1px solid #141414;
      overflow: hidden;
      color: #141414;

      &:hover {
         color: #fff;
         border: 1px solid transparent;
      }

      &::after {
         background-color: #141414;
      }
   }
}

.float-line {
   --underline-width: 0;
   --underline-offset-x: 0;
   position: relative;
   display: inline-flex;
   padding: 0;

   &::before {
      content: "";
      display: block;
      position: absolute;
      top: 92%;
      height: 2px;
      width: var(--underline-width);
      transform: translateX(var(--underline-offset-x));
      background-color: var(--color-underline);
      transition: transform 0.5s, width 0.5s;
      border-radius: 4px;
   }

   // .float-line__item

   &__item {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: #828282;
      cursor: pointer;
      padding: 0px 0px 5px 0px;
      display: block;

      &._active,
      &._tab-active {
         color: #004ea6;
         border-bottom: 2px solid #004ea6;
      }
   }
}

.empty {
   background: #141414;
   color: #fff;
   width: 100%;
   padding: 60px;
   overflow: hidden;
   position: relative;
   z-index: 1;
   @include adaptiveValue("margin-bottom", 65, 40, 1);

   @media (max-width: $lg) {
      padding: 30px 20px;
   }

   // .empty__img

   &__img {
      width: 889px;
      left: 70%;

      @media (max-width: $xxl) {
         width: 732px;
         height: 120vh;
         object-fit: contain;
      }

      @media (max-width: $lg) {
         width: 340px;
         height: 50vh;
      }
   }

   // .empty__content

   &__content {
      max-width: 653px;
      position: relative;
      z-index: 2;

      @media (max-width: $xxl) {
         max-width: 417px;
      }

      @media (max-width: $lg) {
         max-width: 209px;
      }

      @media (max-width: $md) {
         max-width: 100%;
      }
   }

   // .empty__big-title

   &__big-title {
      font-size: 144px;
      line-height: 144px;
      font-family: heliosextblack;

      @media (max-width: $xxl) {
         font-size: 72px;
         line-height: 72px;
      }

      @media (max-width: $lg) {
         font-size: 48px;
         line-height: 58px;
      }
   }

   &__title {
      color: #fff;
      margin: 0px 0px 40px 0px;
      font-size: 72px;
      line-height: 72px;
      font-family: heliosextblack;

      @media (max-width: $xxl) {
         font-size: 48px;
         line-height: 58px;
         margin: 0px 0px 80px 0px;
      }

      @media (max-width: $lg) {
         font-size: 24px;
         line-height: 24px;
         margin: 0px 0px 10px 0px;
      }
   }

   // .empty__text

   &__text {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;

      @media (max-width: $lg) {
         font-size: 14px;
         line-height: 16px;
      }
   }
}