.product {
   margin-bottom: rem(100);

   @media (max-width:$md) {
      margin-bottom: rem(50);
   }

   &__container {
      display: flex;
      gap: 40px;

      @media (max-width:$xl) {
         display: block;
      }
   }

   &__content {
      flex: 0 0 48.6%;

      @media (max-width: 1440px) {
         flex: 0 0 379px;
      }

      @media (max-width:$xl) {
         margin: 0px 0px 40px 0px;
      }
   }

   &__wrapper {
      @media (min-width:$xl) {
         position: sticky;
         position: -webkit-sticky;
         top: 50px;
      }
   }

   &__right {
      flex: 1 1 auto;
      min-width: 0;
   }

   &__title {
      margin: 0px 0px 30px 0px;
      overflow-wrap: anywhere;

      @media (max-width: 1440px) {
         font-size: 24px;
         line-height: 24px;
      }

      @media (max-width:$md) {
         margin: 0px 0px 20px 0px;
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__labels {
      display: flex;

      &:has(*) {
         margin: 0px 0px 24px 0px;

         @media (max-width:$md) {
            margin: 0px 0px 10px 0px;
         }
      }

      & :not(:last-child) {
         margin: 0px 10px 0px 0px;
      }
   }

   &__stock {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #828282;
      padding: 0px 0px 0px 20px;
      background: url(../img/icons/available_icon.svg) left center no-repeat;
      margin: 0px 0px 24px 0px;

      @media (max-width:$md) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__prices {
      display: flex;
      align-items: flex-end;
      margin: 0px 0px 24px 0px;

      @media (max-width: 1440px) {
         flex-wrap: wrap;
         max-width: 380px;
      }
   }

   &__price {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      margin: 0px 30px 0px 0px;

      @media (max-width:$xs) {
         font-size: 24px;
         line-height: 30px;
         font-weight: 600;
         margin: 0px 20px 0px 0px;
      }
   }

   &__old-price {
      margin: 0px 24px 0px 0px;

      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      text-decoration-thickness: 3px;
      text-decoration-color: rgb(207, 18, 53);
      text-decoration-line: line-through;

      @media (max-width:$xs) {
         font-size: 16px;
         line-height: 24px;
         font-weight: 600;
         margin: 0px 14px 0px 0px;
         flex: 0 1 20%;
      }
   }

   &__discount {
      display: inline-block;
      padding: 10px 15px;
      background-color: #57bd69;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      border-radius: 20px;
      transition: all 0.3s ease 0s;

      &:hover {
         transform: scale(1.05);
      }

      @media (max-width: 1440px) {
         margin: 24px 0px 0px 0px;
      }

      @media (max-width:$xs) {
         font-size: 12px;
         line-height: 12px;
         font-weight: 400;
         padding: 7px 15px;
      }
   }

   &__btns {
      @media (max-width: 880.98px) {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
   }

   &__add-basket {
      display: inline-block;
      width: 100%;
      text-align: center;
      max-width: 300px;
      padding: 13px 0px;
      color: #fff;
      background-color: #004ea6;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      border-radius: 6px;
      margin: 0px 0px 10px 0px;

      @media (max-width: 880px) {
         max-width: 100%;
      }

      @media (max-width:$xs) {
         font-size: 14px;
         line-height: 16px;
      }
   }

   &__add-shop-list {
      display: block;
      width: 100%;
      text-align: center;
      max-width: 300px;
      padding: 13px 0px;
      border-radius: 6px;
      margin: 0px 0px 20px 0px;

      @media (max-width:$xl) and (min-width: 880.98px) {
         grid-column-start: 1;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      @media (max-width: 880px) {
         max-width: 100%;
      }

      @media (max-width:$xs) {
         font-size: 14px;
         line-height: 16px;
      }
   }

   &__btns-wrapper {
      display: flex;
      max-width: 300px;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      @media (max-width:$xl) and (min-width: 1170px) {
         margin-right: 10px;
      }

      @media (max-width:$xl) and (min-width: 880.98px) {
         grid-row-start: 1;
         grid-column-start: 2;
         grid-row-end: 4;
         align-items: flex-start;
      }

      @media (max-width: 880px) {
         max-width: 100%;
         width: 100%;
      }
   }

   &__btn {
      color: #004ea6;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      transition: all 0.3s ease 0s;

      svg {
         margin: 0px 10px 0px 0px;

         path {
            transition: all 0.3s ease 0s;
            fill: #004ea6;
         }
      }

      &:hover {
         color: #1d336b;

         path {
            fill: #1d336b;
         }
      }

      @media (max-width:$xs) {
         font-size: 12px;
         line-height: 12px;
         height: 20px;
         display: flex;
         align-items: center;

         svg {
            margin: 0px 5px 0px 0px;
         }
      }

      &_favorites {
         display: flex;
         align-items: center;
         gap: 8px;
         transition: all 0.3s ease 0s;

         span {
            &:last-child {
               display: none;
            }
         }

         svg {
            transition: all 0.3s ease 0s;
            margin: 0;

            path {
               &:last-child {
                  display: none;
               }
            }
         }

         &._active {
            span {
               &:first-child {
                  display: none;
               }

               &:last-child {
                  display: block;
               }
            }

            svg {
               path {
                  &:last-child {
                     display: block;
                  }
               }
            }
         }

         &:hover {
            svg {
               transform: scale(1.1);
            }

            path {
               fill: #1d336b;
            }
         }
      }

      &_compare {
         @media (max-width:$xs) {
            &::before {
               left: -20px;
               top: 2px;
            }
         }
      }

      &_bye {
         flex: 1 1 100%;
         display: flex;
         justify-content: center;
         margin: 20px 0px 0px 0px;

         @media (max-width:$xl) and (min-width: 880.98px) {
            grid-column-start: 1;
            margin-bottom: 10px;
         }

         @media (max-width: 880px) {
            display: inline-block;
            margin: 0px 0px 0px 0px;
            flex: none;
         }
      }
   }

   &__slider {
      margin: 0px 0px 60px 0px;
   }

   &__info {}
}

.info-product {
   &__nav {
      margin: 0px 0px 40px 0px;

      @media (max-width:$xl) {
         justify-content: space-between;
         width: 100%;
      }

      @media (max-width:$md) {
         overflow: auto;
      }
   }

   &__item {
      margin: 0px 40px 0px 0px;

      @media (max-width: 1366px) {
         margin: 0px 20px 0px 0px;
      }

      @media (max-width:$md) {
         font-size: 18px;
      }
   }

   &__body {
      margin: 0px 0px 40px 0px;
   }

   &__block {}

   &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;

      @media (max-width:$xs) {
         font-size: 16px;
         line-height: 26px;
      }
   }

   &__specifications {}

   &__row {
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;
      font-size: 18px;
      line-height: 24px;
      background-color: #f8f8f8;

      &:not(:last-child) {
         margin: 0px 0px 18px 0px;
      }

      @media (max-width:$md) {
         font-size: 12px;
         line-height: 12px;
         padding: 16px 10px;
      }
   }

   &__name {
      flex: 0 1 50%;
      font-weight: 400;
      max-width: 320px;
   }

   &__text {
      flex: 0 1 50%;
      font-weight: 600;
   }

   &__documentation {
      display: flex;
      flex-direction: column;
   }

   &__document {
      display: flex;
      align-items: center;
      color: #004ea6;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      &:not(:last-child) {
         margin: 0px 0px 40px 0px;
      }

      svg {
         margin: 0px 10px 0px 0px;
      }

      &:hover {
         color: #1d336b;

         path:first-child {
            fill: #1d336b;
         }

         path:last-child {
            fill: white;
         }
      }

      @media (max-width:$md) {
         font-size: 14px;
         line-height: 16px;

         &:not(:last-child) {
            margin: 0px 0px 20px 0px;
         }
      }
   }
}

.galery-img {
   margin-bottom: rem(100);

   img {
      max-height: 500px;
      max-width: 100%;
   }
}

.price_for_meter {
   font-size: 1rem;
}

.product-slider {
   display: grid;
   grid-template-columns: 1fr 180px;
   gap: 15px;
   margin-bottom: rem(60);

   @media (max-width:$md) {
      grid-template-columns: 1fr;
   }

   // .product-slider__main

   &__main {}

   // .product-slider__thumbs

   &__thumbs {
      height: 580px;
      width: 180px;
      cursor: pointer;

      @media (max-width:$xl) {
         height: 480px;
      }

      @media (max-width:$md) {
         width: 100%;
         height: 122px;
      }
   }

   // .product-slider__wrapper

   &__wrapper {}

   // .product-slider__slide

   &__slide {
      .product-slider__main & {
         height: 580px;
         width: 580px;

         @media (max-width:$xl) {
            height: 480px;
         }

         @media (max-width:$md) {
            width: 100%;
            height: 340px;
         }
      }

      .product-slider__thumbs & {
         height: 180px;
         width: 180px;

         @media (max-width:$md) {
            width: 113px;
            height: 113px;
         }
      }

      img {
         height: 100%;
         width: 100%;
         object-fit: contain;

         .product-slider__main & {
            object-position: top;
         }
      }
   }
}